<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Online PetShop Store</title>
    <link rel="stylesheet" href="../styles/login.css"> 
</head>

<body>
    <header>
        <h1>Log in to Online PetShop Store</h1>
    </header>

    <main>
        <section>
            <h2>Login</h2>
            <form action="/login" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit" onclick="window.location.href='http://localhost:8000/home';">Login</button>
            </form>
        </section>
    </main>

    <footer>
        <p>Contact Us: support@petshopstore.com</p>
    </footer>

</body>

</html>
