<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Online PetShop Store</title>
    <link rel="stylesheet" href="../styles/signup.css">
</head>

<body>
    <header>
        <h1>Register for Online PetShop Store</h1>
    </header>

    <main>
        <section>
            <h2>Fill in the forms below: </h2>
            <form action="/register" method="post">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="first_name" required><br>

                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="last_name" required><br>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <label for="phone">Phone Number:</label>
                <input type="tel" id="phone" name="phone" pattern="\+?[0-9]+" required><br>

                <button type="submit" onclick="window.location.href='http://localhost:8000/home';">Register</button>
            </form>
        </section>
    </main>

    <footer>
        <p>Contact Us: support@petshopstore.com</p>
    </footer>
</body>

</html>

